<div id="<%= dom_id outfit %>">
  <p>
    <strong>Image</strong>
    <img src="<%= outfit.image_url %>" alt="Image">
  </p>
  <p>
    <strong>Compliments:</strong>
    <%= outfit.compliments %>
  </p>

  <p>
    <strong>User:</strong>
    <%= outfit.user_id %>
  </p>

</div>
